input[type=search] {
  width: 25.25rem;
  height: 2.625rem;
  padding: 10px 20px 12px 40px !important;
  background-image: url('../assets/img/lense-icon.png') !important;
  background-position: 10px 8px !important; 
  background-repeat: no-repeat !important;
  box-sizing: border-box !important;
}

#submit {
  background: var(--Accent-Light, #ede5ff);
  color: var(--Purple, rgba(108, 43, 217, 1));
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
  height: 93%;
}
::ng-deep {
  .mat-mdc-header-cell{
    background-color: rgba(249, 250, 251, 1) !important;
  } 
}

/* Extra small devices (phones, less than 600px) */
@media (max-width: 599px) {
  #submit,.button{
    width: 100%;
  }
  input[type=search]{
    width: 100% !important;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  input[type=search]{
    width: 100% !important;
    margin-bottom: 1rem;
  }
  #submit,.button{
    width: 100%;
  }
}